<strong>Bem vindo a Gympoint {{ name }}!</strong>
<p>Aqui estão os detalhes de sua matrícula:</p>
<p>
  <strong>Valor pago:R${{ price }},00 reais</strong>
  <p>
  <strong>Validade:{{ end_date }}</strong>
<br />
